# Домашнее задание 1 - PANDAS

### О задании

Задание состоит из двух разделов, посвященных работе с табличными данными с помощью библиотеки pandas и визуализации с помощью matplotlib. В каждом разделе вам предлагается выполнить несколько заданий. Баллы даются за выполнение отдельных пунктов. Задачи в рамках одного раздела рекомендуется решать в том порядке, в котором они даны в задании.

Задание направлено на освоение jupyter notebook (будет использоваться в дальнейших заданиях), библиотекам pandas и matplotlib.

### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 10 баллов.

Сдавать задание после указанного срока сдачи нельзя. При выставлении неполного балла за задание в связи с наличием ошибок на усмотрение проверяющего предусмотрена возможность исправить работу на указанных в ответном письме условиях.

Задание выполняется самостоятельно. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов. Если вы нашли решение какого-то из заданий (или его часть) в открытом источнике, необходимо указать ссылку на этот источник в отдельном блоке в конце вашей работы (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник).

Сейчас мы находимся в jupyter-ноутбуке (или ipython-ноутбуке). Это удобная среда для написания кода, проведения экспериментов, изучения данных, построения визуализаций и других нужд, не связанных с написаем production-кода. 

Ноутбук состоит из ячеек, каждая из которых может быть либо ячейкой с кодом, либо ячейкой с текстом размеченным и неразмеченным. Текст поддерживает markdown-разметку и формулы в Latex.

Для работы с содержимым ячейки используется *режим редактирования* (*Edit mode*, включается нажатием клавиши **Enter** после выбора ячейки), а для навигации между ячейками искользуется *командный режим* (*Command mode*, включается нажатием клавиши **Esc**). Тип ячейки можно задать в командном режиме либо с помощью горячих клавиш (**y** to code, **m** to markdown, **r** to edit raw text), либо в меню *Cell -> Cell type*. 

После заполнения ячейки нужно нажать *Shift + Enter*, эта команда обработает содержимое ячейки: проинтерпретирует код или сверстает размеченный текст.

### Формат сдачи
Для сдачи задания получившийся файл \*.ipynb с решением необходимо выложить в свой репозиторий github.

## 1. Табличные данные и Pandas

Pandas — удобная библиотека для работы с табличными данными в Python, если данных не слишком много и они помещаются в оперативную память вашего компьютера. Несмотря на неэффективность реализации и некоторые проблемы, библиотека стала стандартом в анализе данных. С этой библиотекой мы сейчас и познакомимся.

Основной объект в pandas это DataFrame, представляющий собой таблицу с именованными колонками различных типов, индексом (может быть многоуровневым). DataFrame можно создавать, считывая таблицу из файла или задавая вручную из других объектов.

В этой части потребуется выполнить несколько небольших заданий. Можно пойти двумя путями: сначала изучить материалы, а потом приступить к заданиям, или же разбираться "по ходу". Выбирайте сами.

Материалы:
1. [Pandas за 10 минут из официального руководства](http://pandas.pydata.org/pandas-docs/stable/10min.html)
2. [Документация](http://pandas.pydata.org/pandas-docs/stable/index.html) (стоит обращаться, если не понятно, как вызывать конкретный метод)
3. [Примеры использования функционала](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb)

Многие из заданий можно выполнить несколькими способами. Не существуют единственно верного, но попробуйте максимально задействовать арсенал pandas и ориентируйтесь на простоту и понятность вашего кода. Мы не будем подсказывать, что нужно использовать для решения конкретной задачи, попробуйте находить необходимый функционал сами (название метода чаще всего очевидно). В помощь вам документация, поиск и stackoverflow.

In [1]:
%pylab inline  
# import almost all we need
import pandas as pd

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

Данные находятся в приложенном файле `chipotle.tsv`

#### 1. [0.5 баллов] Откройте файл с таблицей (не забудьте про её формат). Выведите последние 10 строк.

Посмотрите на данные и скажите, что они из себя представляют, сколько в таблице строк, какие столбцы?

In [2]:
import pandas as pd
orders = pd.read_table('chipotle.tsv')
orders.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### 2. [0.25 баллов] Ответьте на вопросы:
1. Сколько заказов попало в выборку?
2. Сколько уникальных категорий товара было куплено? (item_name)

In [3]:
#1.1834
#2.
len(orders.item_name.unique())

50

#### 3. [0.25 баллов] Есть ли в данных пропуски? В каких колонках?

In [4]:

print(orders.order_id.isnull().values.any())
print(orders.quantity.isnull().values.any())
print(orders.item_name.isnull().values.any())
print(orders.choice_description.isnull().values.any())
print(orders.item_price.isnull().values.any())

False
False
False
True
False

Заполните пропуски пустой строкой для строковых колонок и нулём для числовых.

In [5]:
#orders.isna()
orders.fillna(value="")
#orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### 4. [0.5 баллов] Посмотрите внимательнее на колонку с ценой товара. Какого она типа? Создайте новую колонку так, чтобы в ней цена была числом.

Для этого попробуйте применить функцию-преобразование к каждой строке вашей таблицы (для этого есть соответствующая функция).

In [6]:
print(type(orders['item_price'][0]))

def rem(s):
    return s[1:]
orders['new_column'] = orders['item_price'].apply(rem).astype('float')
orders.head()

<class 'str'>

,order_id,quantity,item_name,choice_description,item_price,new_column
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

Какая средняя/минимальная/максимальная цена у товара?

In [7]:
orders['new_column'].describe()

count    4622.000000
mean        7.464336
std         4.245557
min         1.090000
25%         3.390000
50%         8.750000
75%         9.250000
max        44.250000
Name: new_column, dtype: float64

Удалите старую колонку с ценой.

In [8]:
orders.drop(axis = 1, columns = ['item_price'])

,order_id,quantity,item_name,choice_description,new_column
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### 5. [0.25 баллов] Какие 5 товаров были самыми дешёвыми и самыми дорогими? (по item_name)

Для этого будет удобно избавиться от дубликатов и отсортировать товары. Не забудьте про количество товара.

In [9]:
# your code

orders['x'] = orders['new_column'] / orders.quantity
#orders.drop(axis = 1, columns = ['new_columns'])
#Самые дорогие
orders.loc[:, ['item_name', 'x']].groupby(['item_name']).max().sort_values(by=['x'], ascending = False).head()
#orders.sort_values(by=['x'], ascending = False).drop_duplicates(subset = 'item_name').head()

                         x
item_name
Steak Salad Bowl     11.89
Carnitas Salad Bowl  11.89
Barbacoa Salad Bowl  11.89
Steak Soft Tacos     11.75
Barbacoa Bowl        11.75

In [10]:
#Самые дешевые
orders.loc[:, ['item_name', 'x']].groupby(['item_name']).min().sort_values(by=['x'], ascending = False).tail()

                      x
item_name
Chips              1.99
Side of Chips      1.69
Canned Soft Drink  1.25
Canned Soda        1.09
Bottled Water      1.09

#### 6. [0.5 баллов] Сколько раз клиенты покупали больше 1 Chicken Bowl (item_name)?

In [11]:
x = orders[orders.quantity > 1]
len(x[x.item_name == 'Chicken Bowl'])

33

#### 7. [0.5 баллов] Какой средний чек у заказа? Сколько в среднем товаров покупают?

Если необходимо провести вычисления в терминах заказов, то будет удобно сгруппировать строки по заказам и посчитать необходимые статистики.

In [12]:
#Средний чек
paids = orders.loc[:, ['order_id', 'x']].groupby(['order_id']).sum()
#paids.head()
paids['x'].mean()#.mean()

17.85398582333715

In [13]:
#среднее колво товаров 
counts = orders.loc[:, ['order_id', 'quantity']].groupby(['order_id']).sum()
#counts
counts['quantity'].mean()

2.711014176663032

#### 8. [0.25 баллов] Сколько заказов содержали ровно 1 товар?

In [14]:
counts = orders.loc[:, ['order_id', 'quantity']].groupby(['order_id']).sum()
#counts
len(counts[counts['quantity'] == 1])

56

#### 9. [0.25 баллов] Какая самая популярная категория товара?

In [15]:
orders.loc[:, ['item_name', 'quantity']].groupby(['item_name']).sum().sort_values(by=['quantity'], ascending = False).head(1)

              quantity
item_name
Chicken Bowl       761

#### 10. [0.5 баллов] Какие виды Burrito существуют? Какой из них чаще всего покупают? Какой из них самый дорогой?

In [16]:
buritos = orders[orders['item_name'].str.contains('Burrito')]
buritos.drop_duplicates(subset=['item_name']).item_name
orders[orders['item_name'].str.contains('Burrito')].loc[:, ['item_name', 'order_id']].groupby(['item_name']).count().head(5).sort_values(by=['order_id'], ascending = False).head(1)

                 order_id
item_name
Chicken Burrito       553

In [17]:
orders[orders['item_name'].str.contains('Burrito')].loc[:, ['item_name', 'x']].groupby(['item_name']).max().sort_values(by=['x'], ascending = False).head(1)

                      x
item_name
Barbacoa Burrito  11.75

#### 11. [0.75 баллов] В каком количестве заказов есть товар, который стоит более 40% от суммы всего чека?

Возможно, будет удобно посчитать отдельно среднюю стоимость заказа, добавить ее в исходные данные и сделать необходимые проверки.

*Данный комментарий стоит воспринимать как подсказку к одному из вариантов решений задания. Если в вашем варианте решения он не нужнен, это не страшно*

In [18]:
orders['full_item_price'] = orders.new_column / orders.quantity
orders.head(5)

orders = orders.merge(orders.loc[:, ['full_item_price', 'order_id']].groupby(['order_id']).sum(), left_on = 'order_id', right_on = 'order_id') 
orders.head()
orders[orders.new_column.astype('int') >= orders.full_item_price_y.astype('int') * 0.4 ].['order_id']#.drop_duplicates(subset=['order_id']).count()#groupby(['order_id']).count()

SyntaxError: invalid syntax (3487935397.py, line 6)

#### 12. [0.75 баллов] Предположим, что в данных была ошибка и Diet Coke (choice_description), который стоил $1.25, должен был стоить 1.35. Скорректируйте данные в таблицы и посчитайте, на какой процент больше денег было заработано с этого товара. Не забывайте, что количество товара не всегда равно 1.

In [ ]:
diet = pd.DataFrame(orders.dropna())
diet.head()
coko = diet[diet.choice_description.str.contains('Diet Coke')]['new_column' ]
coko[coko == 1.25]

#new_orders = orders.merge(diet, left_on=['order_id', 'item_name'], right_on = ['order_id', 'item_name'], how='inner')

#orders['diet_column_new'] = orders[orders.item_name == 'Diet Coke'].[item_price] * orders[orders.item_name == 'Diet Coke'].[quantity]

Для анализа почитал число заказов, но в данном кейсе процент можно посчитать разделив старую цену на новую и вычесть результат из еденицы

#### 13. [0.75 баллов] Создайте новый DateFrame из матрицы, созданной ниже. Назовите колонки index, column1, column2 и сделайте первую колонку индексом.

In [ ]:
cos = pd.DataFrame({"index" : [1, 2], "column1" : [2, 3], "column2" : [3, 4] }).set_index("index")
cos.head()
cos.to_csv("file.csv", header = False, index = False)

Сохраните DataFrame на диск в формате csv без индексов и названий столбцов.

In [ ]:
# your code

## 2. Визуализации и matplotlib

При работе с данными часто неудобно делать какие-то выводы, если смотреть на таблицу и числа в частности, поэтому важно уметь визуализировать данные. В этом разделе мы этим и займёмся.

У matplotlib, конечно, же есть [документация](https://matplotlib.org/users/index.html) с большим количеством [примеров](https://matplotlib.org/examples/), но для начала достаточно знать про несколько основных типов графиков:
- plot — обычный поточечный график, которым можно изображать кривые или отдельные точки;
- hist — гистограмма, показывающая распределение некоторое величины;
- scatter — график, показывающий взаимосвязь двух величин;
- bar — столбцовый график, показывающий взаимосвязь количественной величины от категориальной.

В этом задании вы попробуете построить каждый из них. Не менее важно усвоить базовые принципы визуализаций:
- на графиках должны быть подписаны оси;
- у визуализации должно быть название;
- если изображено несколько графиков, то необходима поясняющая легенда;
- все линии на графиках должны быть чётко видны (нет похожих цветов или цветов, сливающихся с фоном);
- если отображена величина, имеющая очевидный диапазон значений (например, проценты могут быть от 0 до 100), то желательно масштабировать ось на весь диапазон значений (исключением является случай, когда вам необходимо показать малое отличие, которое незаметно в таких масштабах).
- сетка на графике помогает оценить значения в точках на глаз, это обычно полезно, поэтому лучше ее отрисовывать.

In [ ]:
%matplotlib inline  
import matplotlib.pyplot as plt

На самом деле мы уже импортировали matplotlib внутри %pylab inline в начале задания.

Работать мы будем с той же выборкой покупкок. Добавим новую колонку с датой покупки.

In [ ]:
import datetime

start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2018, 1, 31)
delta_seconds = int((end - start).total_seconds())

dates = pd.DataFrame(index=orders.order_id.unique())
dates['date'] = [
    (start + datetime.timedelta(seconds=random.randint(0, delta_seconds))).strftime('%Y-%m-%d')
    for _ in range(orders.order_id.nunique())]

# если DataFrame с покупками из прошлого заказа называется не df, замените на ваше название ниже
orders['date'] = orders.order_id.map(dates['date'])

#### 1. [1 балл] Постройте гистограмму распределения сумм покупок и гистограмму средних цен отдельных видов продуктов item_name. 

Изображайте на двух соседних графиках. Для этого может быть полезен subplot.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt


fig, (axe1, axe2) = plt.subplots(1, 2, figsize=(25, 15))

axe1.hist(orders.groupby('order_id')['new_column'].sum(), bins='auto', edgecolor = 'white')
axe1.set_title('Sum of prices')
axe1.set_xlabel('Sum')


axe2.hist(orders.groupby('item_name')['new_column'].mean(), bins='auto', edgecolor = 'white')
axe2.set_title('Average prices')
axe2.set_xlabel('Average peice')

#### 2. [1 балл] Постройте график зависимости суммы покупок от дней.

In [ ]:
orders.head()
plt.figure(figsize=(45, 12))
plt.plot(orders.loc[:, ['date', 'full_item_price_y']].groupby('date')['full_item_price_y'].sum().index,
         orders.loc[:, ['date', 'full_item_price_y']].groupby('date')['full_item_price_y'].sum().values)
plt.title('Addiction')
plt.xlabel('Date')
plt.ylabel('Sum of purchases')
plt.grid()

#### 3. [1 балл] Постройте средних сумм покупок по дням недели (bar plot).

In [ ]:
orders['date'] = pd.to_datetime(orders['date'], format = '%Y-%m-%d')
orders['day_of_week'] = orders['date'].dt.day_name()
#orders['sum_by_date'] =
orders.groupby(['day_of_week'])['full_item_price_y'].mean()
xx = orders.loc[:,~orders.columns.duplicated()].copy() 
xx = xx.groupby(['day_of_week'])['full_item_price_y'].mean()
plt.xlabel('Day of week')
#xx.head()
#yy = xx.groupby('day_of_week')['sum_by_date'].mean()
plt.bar(x = xx.index, height = xx.values)
#xx.index

plt.ylabel('average Sum of purchases')

#### 4. [1 балл] Постройте график зависимости денег за товар от купленного количества (scatter plot).

In [ ]:
plt.scatter(orders['quantity'], orders['x'])
plt.title('item quantity addiction')
plt.xlabel('Quantity')
plt.ylabel('Price')
plt.xticks(np.arange(1, 10))
plt.yticks(np.arange(2, 10))
plt.savefig('graph.pdf')

Сохраните график в формате pdf (так он останется векторизованным).

In [ ]:
# your code

Еще одна билиотека для визуализации: [seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html). Это настройка над matplotlib, иногда удобнее и красивее делать визуализации через неё.